<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">

</head>
<body>
    <div class="navigation" th:fragment="sideMenu">
        <ul>
            <li class="list">
                <a th:href="@{/home}" class="link active" id="1st-link"
                   style="border-top-left-radius: 10px; border-top-right-radius: 10px">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li class="list">
                <a th:href="@{/organization}" class="link" id="2nd-link">
                    <span class="icon"><i class="fas fa-building"></i></span>
                    <span class="title">Organization</span>
                </a>
            </li>
            <li class="list">
                <a th:href="@{/customer}" class="link" id="3rd-link">
                    <span class="icon"><i class="fas fa-building"></i></span>
                    <span class="title">Customer</span>
                </a>
            </li>
            <li class="list">
                <a th:href="@{#}" class="link" id="4th-link">
                    <span class="icon"><i class="fas fa-lock"></i></span>
                    <span class="title">Password</span>
                </a>
            </li>
            <li class="list">
                <a th:href="@{#}" class="link" id="5th-link">
                    <span class="icon"><i class="fas fa-cog"></i></span>
                    <span class="title">Settings</span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>