<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Information</title>

    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="icon" th:href="@{/image/favicon.png}">

    <script src="https://kit.fontawesome.com/9eead257ec.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
    <div class="wrapper">
        <div th:replace="~{/fragment.html :: sideMenu}">
        </div>

        <div class="user-view">
            <div class="pie-chart" id="chart">

            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/menu.js}"></script>

</body>
</html>